.forms {
    text-align: center;

}

.item {
    width:250px;
    height:240px;
    background:#ffa;
    overflow:hidden;
    margin:30px auto;
    padding:20px;
    border-radius:0 0 0 30px/45px;
    box-shadow:
      inset 0 -40px 40px rgba(0,0,0,0.2),
      inset 0 25px 10px rgba(0,0,0,0.2),
      0 5px 6px 5px rgba(0,0,0,0.2);
    line-height:1.7em;
    font-size:19px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  
    color:#130d6b;


}
.botones {
  
}

img{
    padding: 10px;
    width: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.item h1, .descripcion {

    text-align: center;
}